/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mat-form-field-empty.mat-form-field-label {
  color: rgba(0, 0, 0, 0.6);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.6);
}

body {
  background-color: #ff52522b;
}
