<div class="container">
  <form id="ngForm" (ngSubmit)="handleSubmit(formRef)" #formRef="ngForm">
    <div class="user-form">
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.name"
          matInput
          placeholder="Name/Flavor"
          name="name"
        />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.from"
          matInput
          placeholder="From"
          name="from"
        />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.price"
          matInput
          placeholder="Price"
          name="price"
          currencyMask
          [options]="{
            precision: '2',
            align: 'left'
          }"
        />
      </mat-form-field>
    </div>
  </form>

  <button
    [disabled]="!formRef.value.name || !formRef.value.from"
    mat-raised-button
    color="primary"
    form="ngForm"
    type="submit"
  >
    {{ this.listManager.editing ? 'Update' : 'Submit' }}
  </button>
  <button
    *ngIf="this.listManager.editing"
    (click)="this.listManager.editing = false; formRef.reset()"
    mat-raised-button
    color="warn"
  >
    Cancel
  </button>

  <app-drinks-list></app-drinks-list>
  <!-- <app-drinks-list [drinks]="drinks"></app-drinks-list> OLD CODE -->
</div>
