h1 {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #212121;
  font-weight: 500;
}
.nav {
  background: #ff5252;
  color: white;

  .logout {
    background-color: #ff5252;
    color: white;
    &:hover {
      background-color: red;
    }
  }
  .links {
    display: flex;
    margin-left: auto;
  }
}

@mixin container($val) {
  padding: $val;
  background-color: #b3e5fc;
}
.container {
  @include container(50px);
}

.input-fields {
  width: 100%;
}

.submit {
  &:hover {
    background-color: #263aad;
  }
}
@media (min-width: 992px) {
  .user-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  .container {
    padding: 20px 100px 100px 100px;
  }
}

table {
  width: 100%;
  margin-top: 10px;
}

.mobile-label {
  display: none;
}

@media (max-width: 500px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }
  .mat-row {
    display: flex;
    flex-direction: column;
    padding: 15px 24px 5px 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 100%;
  }

  .action-btns {
    display: inline;
    position: relative;
    button:first-child {
      right: 9px;
    }
    button:nth-child(2) {
      right: 22px;
    }
  }
  td.mat-cell {
    border: none;
    &:first-of-type {
      padding: 0;
    }
    &:last-of-type {
      position: relative;
      bottom: 5px;
    }
  }
}
