<div class="container">
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  <app-drinks-list *ngIf="drinks" [drinks]="drinks"></app-drinks-list>

  <form id="ngForm" (ngSubmit)="handleSubmit(formRef)" #formRef="ngForm">
    <div class="user-form">
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.name"
          matInput
          placeholder="Name/Flavor"
          name="name"
        />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.from"
          matInput
          placeholder="From"
          name="from"
        />
      </mat-form-field>
      <mat-form-field class="input-fields">
        <input
          [ngModel]="this.listManager.drinkToEdit.price"
          matInput
          placeholder="Price"
          name="price"
          currencyMask
          [options]="{
            precision: '2',
            align: 'left'
          }"
        />
      </mat-form-field>
    </div>
  </form>

  <button
    [disabled]="!formRef.value.name || !formRef.value.from"
    mat-raised-button
    color="primary"
    form="ngForm"
    type="submit"
  >
    {{ this.listManager.editing ? 'Update' : 'Submit' }}
  </button>
  <button
    *ngIf="this.listManager.editing"
    (click)="this.listManager.editing = false; formRef.reset()"
    mat-raised-button
    color="warn"
  >
    Cancel
  </button>

  <app-recommendations
    *ngIf="coordinates.latitude && coordinates.longitude"
    [coordinates]="coordinates"
  ></app-recommendations>

  <!-- this is the place holder table for when the coordinates have yet to load so a spinner appears -->
  <table
    *ngIf="isLoading && !locationDenied"
    mat-table
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
    </ng-container>

    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distance (miles)</th>
    </ng-container>

    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
    </ng-container>

    <ng-container matColumnDef="review count">
      <th mat-header-cell *matHeaderCellDef>Review Count</th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card
    *ngIf="isLoading && !locationDenied"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <div *ngIf="locationDenied">
    <h2>Please allow geolocation access to get recommendations</h2>
  </div>
</div>
