@mixin container($val) {
  padding: $val;
}
.container {
  @include container(50px);
}

.input-fields {
  width: 100%;
}

@media (min-width: 992px) {
  .user-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

  .container {
    padding: 100px;
  }
}
