.container {
  text-align: center;

  .card-container {
    background: #b3e5fc;
    color: rgba(0, 0, 0, 0.6);
  }
  #logo {
    width: 20%;
  }

  .cred-fields {
    padding: 30px;
    h1 {
      margin-top: 0;
    }
    .input-fields {
      width: 100%;
    }
  }
  padding: 30px;
  .eye:hover {
    cursor: pointer;
  }

  .card-footer {
    display: flex;
    align-items: flex-end;
    a {
      margin-left: auto;
    }
  }
}

@media (min-width: 992px) {
  .container {
    padding: 100px;
    width: 60%;
    margin: 0 auto;
    .cred-fields {
      padding: 55px;
    }
  }
}
