<div class="container">
  <mat-card>
    <div *ngIf="currentRoute === '/login'">
      <form id="ngForm" (ngSubmit)="handleSubmit(formRef)" #formRef="ngForm">
        <div class="cred-fields">
          <h1>Login</h1>
          <mat-form-field class="input-fields">
            <input
              matInput
              ngModel
              placeholder="Username/Email"
              name="name"
              #name
            />
          </mat-form-field>
          <mat-form-field class="input-fields">
            <input
              matInput
              ngModel
              placeholder="Password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              #password
            />
            <mat-icon class="eye" matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </mat-form-field>
          <div class="card-footer">
            <button
              [disabled]="!name.value || !password.value"
              mat-raised-button
              color="primary"
              form="ngForm"
              type="submit"
            >
              Login
            </button>
            <a [routerLink]="['/register']">or register here</a>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="currentRoute === '/register'">
      <form id="ngForm" (ngSubmit)="handleSubmit(formRef)" #formRef="ngForm">
        <div class="cred-fields">
          <h1>Register</h1>
          <mat-form-field class="input-fields">
            <input
              matInput
              placeholder="Username"
              name="name"
              [formControl]="name"
              required
            />
            <mat-error *ngIf="name.invalid">{{
              getNameErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-fields">
            <input
              matInput
              placeholder="Email"
              name="email"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{
              getEmailErrorMessage()
            }}</mat-error>
          </mat-form-field>
          <mat-form-field class="input-fields">
            <input
              matInput
              placeholder="Password"
              name="password"
              [type]="hide ? 'password' : 'text'"
              [formControl]="password"
              required
            />
            <mat-error *ngIf="password.invalid">{{
              getPasswordErrorMessage()
            }}</mat-error>
            <mat-icon class="eye" matSuffix (click)="hide = !hide">{{
              hide ? 'visibility_off' : 'visibility'
            }}</mat-icon>
          </mat-form-field>
          <div class="card-footer">
            <button
              disabled="name.invalid || email.invalid || password.invalid"
              mat-raised-button
              color="primary"
              type="submit"
            >
              Register
            </button>

            <a [routerLink]="['/login']">or login here</a>
          </div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
