<div *ngIf="loading">Loading...</div>
<div *ngIf="error">Error :(</div>

<button mat-button color="primary">Primary</button>
<button mat-raised-button color="primary">Primary</button>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>
<ul *ngFor="let follower of (data | async)">
  <li>{{ follower.name }} {{ follower.id }}</li>
</ul>
