table {
  width: 100%;
  margin-top: 10px;
}

.mobile-label {
  display: none;
}
a {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #3f51b5;
  &:hover {
    color: red;
    transition: 0.2s;
  }
}
@media (max-width: 500px) {
  .mobile-label {
    width: 100px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }
  .mat-row {
    display: flex;
    flex-direction: column;
    padding: 15px 24px 5px 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    height: 100%;
  }

  td.mat-cell {
    border: none;
    &:first-of-type {
      padding: 0;
    }
    &:last-of-type {
      position: relative;
      bottom: 5px;
    }
  }
}
